/**
 *
 * HEADER STYLE
 *
 * ========================================================================= */

.header {
  background-color: $white;
  position: relative;
  z-index: 9;
  @include box-shadow;
  @include padding-h-5;

  &__back-btn {
    @include center(vertical);
    left: 5%;
    a {
      text-decoration: none;
      color: $black;
      position: relative;
      left: 0;
      transition: left ease 0.1s;

      &:hover {
        left: -0.2rem;
      }
    }
  }

  h1 {
    @include txt-shrikhand;
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: center;

    a {
      text-decoration: none;
      color: $black;
    }
  }
}
