/**
 *
 * VARIABLES
 *
 * ========================================================================= */
/**
 *
 * MIXINS
 *
 * ========================================================================= */
/*------ Breakpoints -----*/
/*----- @include breakpoint(value){} ------*/
/*----- .result {@include center(both);} -----*/
/**
 *
 * KEYFRAMES
 *
 * ========================================================================= */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes preloader {
  0% {
    right: 101%;
  }
  17% {
    right: 82%;
  }
  24% {
    right: 60%;
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    right: 20%;
    animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
  }
  100% {
    right: 0%;
  }
}
@keyframes iconHeart {
  0% {
    fill: transparent;
    stroke-width: 10%;
  }
  50% {
    fill: #9356dc;
    stroke-width: 0%;
  }
  100% {
    fill: #ff79da;
    stroke-width: 0%;
  }
}
/**
 *
 * BASE STYLE
 *
 * ========================================================================= */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 36rem) {
  html {
    font-size: 16px;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 *
 * TYPOGRAPHY
 *
 * ========================================================================= */
/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/shrikhand/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../../fonts/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("../../fonts/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../../fonts/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/roboto/roboto-v27-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-300.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-300.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-300.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/roboto/roboto-v27-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-300italic.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-300italic.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-300italic.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-regular.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-regular.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-regular.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/roboto/roboto-v27-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-italic.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-italic.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-italic.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-500.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-500.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-500.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/roboto/roboto-v27-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-500italic.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-500italic.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-500italic.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-700.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-700.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-700.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/roboto/roboto-v27-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto/roboto-v27-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-v27-latin-700italic.woff2") format("woff2"), url("../../fonts/roboto/roboto-v27-latin-700italic.woff") format("woff"), url("../../fonts/roboto/roboto-v27-latin-700italic.ttf") format("truetype"), url("../../fonts/roboto/roboto-v27-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/**
 *
 * BUTTON STYLE
 *
 * ========================================================================= */
/**
 *
 * PRELOADER STYLE
 *
 * ========================================================================= */
.preloader {
  animation: fadeOut 1s ease 150ms forwards;
  animation-delay: 3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: radial-gradient(circle, #eaeaea 0%, white 50%, #eaeaea 100%);
}
.preloader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: url("../../../public/img/ohmyfood-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.02;
  background-size: 65%;
}
.preloader__text {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
}
@supports (mix-blend-mode: lighten) {
  .preloader__text {
    display: inline-block;
    position: relative;
  }
  .preloader__text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #ff79da, #9356dc);
    pointer-events: none;
    animation: preloader 3s;
  }
}
.preloader__text::before {
  mix-blend-mode: screen;
}
@media (min-width: 36rem) {
  .preloader__text {
    font-size: 3rem;
  }
}
@media (min-width: 48rem) {
  .preloader__text {
    font-size: 4rem;
  }
}
@media (min-width: 62rem) {
  .preloader__text {
    font-size: 6rem;
  }
}
@media (min-width: 75rem) {
  .preloader__text {
    font-size: 8rem;
  }
}
@media (min-width: 87.5rem) {
  .preloader__text {
    font-size: 10rem;
  }
}

/**
 *
 * HEADER STYLE
 *
 * ========================================================================= */
.header {
  background-color: #fff;
  position: relative;
  z-index: 9;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  padding-left: 5%;
  padding-right: 5%;
}
.header__back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
.header__back-btn a {
  text-decoration: none;
  color: #000;
  position: relative;
  left: 0;
  transition: left ease 0.1s;
}
.header__back-btn a:hover {
  left: -0.2rem;
}
.header h1 {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
}
.header h1 a {
  text-decoration: none;
  color: #000;
}

/**
 *
 * FOOTER STYLE
 *
 * ========================================================================= */
.footer {
  background-color: #353535;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.footer__brand {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 3.125rem;
}
@media (min-width: 48rem) {
  .footer__brand {
    font-size: 2.5rem;
    line-height: 5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__list {
    text-align: center;
  }
}
.footer__list .footer__item:nth-child(3) .footer__link, .footer__list .footer__item:nth-child(4) .footer__link {
  padding-left: 0;
}
.footer__list .footer__item .footer__link {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-decoration: none;
  padding-left: 1.875rem;
  position: relative;
  font-weight: 300;
  transition: all 300ms ease-in 0ms;
}
.footer__list .footer__item .footer__link:hover {
  color: #ff79da;
}
.footer__list .footer__item .footer__link svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/**
 *
 * CONTAINER STYLE
 *
 * ========================================================================= */
@media (min-width: 36rem) {
  .container {
    max-width: 33.75rem;
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
}
@media (min-width: 62rem) {
  .container {
    max-width: 60rem;
  }
}
@media (min-width: 75rem) {
  .container {
    max-width: 71.25rem;
  }
}
@media (min-width: 87.5rem) {
  .container {
    max-width: 82.5rem;
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container-fullwidth {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/**
 *
 * RESTAURANTS SECTION STYLE
 *
 * ========================================================================= */
.restaurants__layout {
  padding-top: 5%;
  padding-bottom: 5%;
}
.restaurants__layout > h3 {
  width: 100%;
  font-weight: 700;
  line-height: 3.75rem;
  font-size: 1.125rem;
}
@media (min-width: 48rem) {
  .restaurants__layout {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
.restaurants__layout .restaurant {
  width: 100%;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
}
.restaurants__layout .restaurant__link {
  text-decoration: none;
  position: relative;
}
.restaurants__layout .restaurant__link::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}
.restaurants__layout .restaurant__link:hover .restaurant__img::after {
  opacity: 0.2;
}
.restaurants__layout .restaurant__link:hover .restaurant__img img {
  transform: scale(1);
}
.restaurants__layout .restaurant__link:hover .restaurant__name {
  color: #9356dc;
}
.restaurants__layout .restaurant__img {
  position: relative;
  z-index: 1;
  max-height: 10rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.3s;
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant__img {
    height: 100%;
  }
}
.restaurants__layout .restaurant__img::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(120deg, #ff79da, #9356dc);
  opacity: 0;
  transition: all 0.3s;
}
.restaurants__layout .restaurant__img img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.3s;
}
.restaurants__layout .restaurant__img .restaurant__new {
  background-color: #99e2d0;
  color: #278870;
  line-height: 1.875rem;
  font-weight: 500;
  padding: 0 1rem;
  display: inline-block;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  z-index: 9;
  border-radius: 0.188rem;
}
.restaurants__layout .restaurant__infogroup {
  background-color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.restaurants__layout .restaurant__infogroup .restaurant__info {
  flex-grow: 1;
}
.restaurants__layout .restaurant__infogroup .restaurant__info .restaurant__name {
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 0.3s;
}
.restaurants__layout .restaurant__infogroup .restaurant__info .restaurant__location {
  font-weight: 300;
  font-size: 0.875rem;
}
.restaurants__layout .restaurant__infogroup .restaurant__like {
  cursor: pointer;
  z-index: 9;
}
.restaurants__layout .restaurant__infogroup .restaurant__like svg {
  width: 1.375rem;
  height: 1.375rem;
}
.restaurants__layout .restaurant__infogroup .restaurant__like svg path {
  stroke-width: 10%;
  stroke: #000;
  fill: transparent;
  z-index: 9999;
}
.restaurants__layout .restaurant__infogroup .restaurant__like svg path:hover, .restaurants__layout .restaurant__infogroup .restaurant__like svg path:active {
  stroke-width: 0%;
  animation: iconHeart 500ms forwards;
}
@media (min-width: 48rem) {
  .restaurants__layout .restaurant {
    width: calc(1 / 2 * 100% - 1rem);
    margin: 0;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant {
    width: 100%;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:first-child {
    grid-area: 1/1/2/3;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(2) {
    grid-area: 2/1/5/2;
  }
  .restaurants__layout .restaurant:nth-child(2) .restaurant__img {
    max-height: 17.813rem;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(3) {
    grid-area: 5/1/7/2;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(4) {
    grid-area: 2/2/4/3;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(5) {
    grid-area: 4/2/7/3;
  }
  .restaurants__layout .restaurant:nth-child(5) .restaurant__img {
    max-height: 17.813rem;
  }
}

/**
 *
 * HOMEPAGE STYLE
 *
 * ========================================================================= */
.content .booking {
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  padding-bottom: 5%;
  text-align: center;
}
@media (min-width: 62rem) {
  .content .booking {
    background: url("../../../public/img/restaurants/xlarge/a-la-francaise-xl.jpg") center center no-repeat;
    background-size: 100%;
  }
}
.content .booking__form {
  text-align: center;
  background-color: #eaeaea;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 3.125rem;
  width: 100%;
  text-align: center;
  position: relative;
}
@media (min-width: 62rem) {
  .content .booking__form {
    margin: 0 auto;
    width: 40%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.content .booking__form button {
  display: none;
}
.content .booking__form span {
  position: absolute;
  top: 50%;
  right: 80%;
  transform: translate(-80%, -50%);
}
@media (min-width: 36rem) {
  .content .booking__form span {
    right: 70%;
    transform: translate(-70%, -50%);
  }
}
@media (min-width: 62rem) {
  .content .booking__form span {
    left: 25%;
    transform: translateY(-50%);
  }
}
.content .booking__form input {
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: center;
}
@media (min-width: 36rem) {
  .content .booking__form input {
    width: 50%;
  }
}
@media (min-width: 62rem) {
  .content .booking__form input {
    width: 75%;
    text-align: center;
  }
}
.content .booking__cta {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
@media (min-width: 62rem) {
  .content .booking__cta {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 5%;
    max-width: 50%;
  }
}
.content .booking__cta > button {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 3.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 1.563rem;
  cursor: pointer;
  background: #ff79da;
  background-image: linear-gradient(173deg, #ff79da 0%, #9356dc 66%);
  color: #fff;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.content .booking__cta > button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff79da;
  background-image: linear-gradient(173deg, #9356dc 0%, #ff79da 66%);
  z-index: -1;
  transition: opacity 300ms ease-in 0ms;
  opacity: 0;
  border-radius: 1.563rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
}
.content .booking__cta > button:hover::before, .content .booking__cta > button:focus::before, .content .booking__cta > button:active::before {
  opacity: 1;
}
@media (min-width: 62rem) {
  .content .booking__cta > button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.content .booking__cta > h2 {
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.125rem;
  margin: 1rem auto;
}
@media (min-width: 62rem) {
  .content .booking__cta > h2 {
    font-weight: 700;
    line-height: 1.8rem;
    font-size: 1.6rem;
  }
}
.content .booking__cta > h3 {
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 62rem) {
  .content .booking__cta > h3 {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.content .process {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}
@media (min-width: 62rem) {
  .content .process::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../../public/img/ohmyfood-bg.svg") no-repeat;
    background-position: 90% 50%;
    background-size: 50%;
    opacity: 0.05;
  }
}
.content .process h3 {
  font-weight: 700;
  line-height: 3.75rem;
  font-size: 1.125rem;
}
@media (min-width: 48rem) {
  .content .process h3 {
    text-align: center;
  }
}
@media (min-width: 62rem) {
  .content .process h3 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 62rem) {
  .content .process__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }
}
.content .process__list .process__item {
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 4.375rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  counter-increment: section;
  margin-bottom: 1.563rem;
  transition: background-color 300ms ease-in 0ms;
  opacity: 0;
  animation: fadeIn 800ms ease-in-out forwards;
}
.content .process__list .process__item:first-child {
  animation-delay: 200ms;
}
.content .process__list .process__item:nth-child(2) {
  animation-delay: 400ms;
}
.content .process__list .process__item:nth-child(3) {
  animation-delay: 600ms;
}
.content .process__list .process__item:last-child {
  margin-bottom: 3rem;
}
@media (min-width: 62rem) {
  .content .process__list .process__item:last-child {
    margin-bottom: unset;
  }
}
.content .process__list .process__item:hover {
  background-color: #f2eafb;
}
.content .process__list .process__item:hover .process__icon {
  transition: background-color 300ms ease-in 0ms;
}
.content .process__list .process__item:hover .process__icon svg {
  color: #9356dc;
}
@media (min-width: 48rem) {
  .content .process__list .process__item {
    justify-content: center;
    margin: 0 auto 1.563rem;
    width: 67%;
  }
}
@media (min-width: 62rem) {
  .content .process__list .process__item {
    margin-bottom: unset;
    line-height: unset;
    padding: 3rem 1rem;
    justify-content: space-evenly;
  }
}
.content .process__list .process__item::before {
  content: counter(section);
  position: absolute;
  left: -0.813rem;
  border-radius: 50%;
  height: 1.563rem;
  width: 1.563rem;
  background-color: #9356dc;
  text-align: center;
  line-height: 1.563rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 48rem) {
  .content .process__list .process__item::before {
    line-height: 2.563rem;
    height: 2.563rem;
    width: 2.563rem;
  }
}
@media (min-width: 62rem) {
  .content .process__list .process__item::before {
    top: -1.2815rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.content .process__list .process__item .process__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1.5rem;
}
@media (min-width: 62rem) {
  .content .process__list .process__item .process__icon {
    padding-left: unset;
    padding-right: unset;
    font-size: 2rem;
  }
}
.content .process__list .process__item .process__icon svg {
  color: #7e7e7e;
  width: 2rem;
}
.content .restaurants {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f6f6f6;
}
@media (min-width: 62rem) {
  .content .restaurants {
    width: 100%;
    z-index: 2;
  }
}

/**
 *
 * MENU PAGE
 *
 * ========================================================================= */
.page-menu-alafrancaise .hero {
  background: url("../../../public/img/restaurants/small/a-la-francaise.jpg") no-repeat top center;
}
@media (min-width: 36rem) {
  .page-menu-alafrancaise .hero {
    background: url("../../../public/img/restaurants/medium/a-la-francaise-md.jpg") no-repeat center center;
  }
}
@media (min-width: 48rem) {
  .page-menu-alafrancaise .hero {
    background: url("../../../public/img/restaurants/large/a-la-francaise-lg.jpg") no-repeat center center;
  }
}
@media (min-width: 75rem) {
  .page-menu-alafrancaise .hero {
    background: url("../../../public/img/restaurants/xlarge/a-la-francaise-xl.jpg") no-repeat center center;
  }
}

.page-menu-lapalettedugout .hero {
  background: url("../../../public/img/restaurants/small/la-palette-du-gout.jpg") no-repeat top center;
}
@media (min-width: 36rem) {
  .page-menu-lapalettedugout .hero {
    background: url("../../../public/img/restaurants/medium/la-palette-du-gout-md.jpg") no-repeat center center;
  }
}
@media (min-width: 48rem) {
  .page-menu-lapalettedugout .hero {
    background: url("../../../public/img/restaurants/large/la-palette-du-gout-lg.jpg") no-repeat center center;
  }
}
@media (min-width: 75rem) {
  .page-menu-lapalettedugout .hero {
    background: url("../../../public/img/restaurants/xlarge/la-palette-du-gout-xl.jpg") no-repeat center center;
  }
}

.page-menu-lanoteenchantee .hero {
  background: url("../../../public/img/restaurants/small/la-note-enchantee.jpg") no-repeat top center;
}
@media (min-width: 36rem) {
  .page-menu-lanoteenchantee .hero {
    background: url("../../../public/img/restaurants/medium/la-note-enchantee-md.jpg") no-repeat center center;
  }
}
@media (min-width: 48rem) {
  .page-menu-lanoteenchantee .hero {
    background: url("../../../public/img/restaurants/large/la-note-enchantee-lg.jpg") no-repeat center center;
  }
}
@media (min-width: 75rem) {
  .page-menu-lanoteenchantee .hero {
    background: url("../../../public/img/restaurants/xlarge/la-note-enchantee-xl.jpg") no-repeat center center;
  }
}

.page-menu-ledelicedessens .hero {
  background: url("../../../public/img/restaurants/small/le-delice-des-sens.jpg") no-repeat top center;
}
@media (min-width: 36rem) {
  .page-menu-ledelicedessens .hero {
    background: url("../../../public/img/restaurants/medium/le-delice-des-sens-md.jpg") no-repeat bottom center;
  }
}
@media (min-width: 48rem) {
  .page-menu-ledelicedessens .hero {
    background: url("../../../public/img/restaurants/large/le-delice-des-sens-lg.jpg") no-repeat bottom center;
  }
}
@media (min-width: 75rem) {
  .page-menu-ledelicedessens .hero {
    background: url("../../../public/img/restaurants/xlarge/le-delice-des-sens-xl.jpg") no-repeat bottom center;
  }
}

.hero {
  height: 18.75rem;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
  margin-bottom: -1px;
  background-size: 100% !important;
}
@media (max-width: 36rem) {
  .hero {
    background-size: 105% !important;
  }
}
.hero__page-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-top: 2rem;
  padding-left: 5%;
  padding-right: 10%;
}
@media (min-width: 48rem) {
  .hero__page-title {
    width: 50%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    box-shadow: 0px -5px 11px -6px rgba(0, 0, 0, 0.5);
  }
}
.hero__page-title .hero__title {
  flex-grow: 1;
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
.hero__page-title .hero__like {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 9;
}
.hero__page-title .hero__like svg path {
  stroke-width: 10%;
  stroke: #000;
  fill: transparent;
  z-index: 9999;
}
.hero__page-title .hero__like svg path:hover, .hero__page-title .hero__like svg path:active {
  stroke-width: 0%;
  animation: iconHeart 500ms forwards;
}

.menu {
  background-color: #f6f6f6;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2rem;
  position: relative;
}
.menu h2 {
  position: relative;
  line-height: 1.5rem;
  padding-bottom: 1.625rem;
}
.menu h2::before {
  position: absolute;
  left: 0;
  top: 2rem;
  height: 0;
  width: 3.125rem;
  content: "";
  border-top: 3px solid #99e2d0;
}
@media (min-width: 62rem) {
  .menu::before {
    content: "";
    background: url("../../../public/img/ohmyfood-bg.svg") no-repeat bottom right;
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.05;
    background-size: 50%;
  }
}
@media (min-width: 62rem) {
  .menu {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }
}
@media (min-width: 62rem) {
  .menu__starters, .menu__main-courses, .menu__desserts, .menu__order {
    width: calc(1 / 2 * 100% - 1rem);
  }
}
.menu__order {
  width: 100%;
}
.menu .starter,
.menu .main-course,
.menu .dessert {
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  opacity: 0;
  animation: fadeIn 800ms ease-in-out forwards;
  overflow: hidden;
  cursor: pointer;
  transition: all 1000ms ease-in-out 0ms;
}
.menu .starter:nth-child(2),
.menu .main-course:nth-child(2),
.menu .dessert:nth-child(2) {
  animation-delay: 200ms;
}
.menu .starter:nth-child(3),
.menu .main-course:nth-child(3),
.menu .dessert:nth-child(3) {
  animation-delay: 400ms;
}
.menu .starter:nth-child(4),
.menu .main-course:nth-child(4),
.menu .dessert:nth-child(4) {
  animation-delay: 600ms;
}
.menu .starter:nth-child(5),
.menu .main-course:nth-child(5),
.menu .dessert:nth-child(5) {
  animation-delay: 800ms;
}
.menu .starter:last-child,
.menu .main-course:last-child,
.menu .dessert:last-child {
  margin-bottom: 3rem;
}
.menu .starter__details,
.menu .main-course__details,
.menu .dessert__details {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  margin-right: 0;
  transition: all 500ms ease-in-out 0ms;
}
.menu .starter__ingredients,
.menu .main-course__ingredients,
.menu .dessert__ingredients {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .starter__name,
.menu .main-course__name,
.menu .dessert__name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .starter__price,
.menu .main-course__price,
.menu .dessert__price {
  display: flex;
  justify-content: flex-end;
  position: relative;
  transform: translateX(0%);
  width: 20%;
  transition: all 500ms ease-in-out 0ms;
}
.menu .starter__price span,
.menu .main-course__price span,
.menu .dessert__price span {
  align-self: flex-end;
  padding-left: 1rem;
}
.menu .starter__validation,
.menu .main-course__validation,
.menu .dessert__validation {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(0%);
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-color: #99e2d0;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  transition: all 500ms ease-in-out 0ms;
}
.menu .starter__validation .icon-check,
.menu .main-course__validation .icon-check,
.menu .dessert__validation .icon-check {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transform: translate(0%, -50%);
  transition: all 500ms ease-in-out 100ms;
}
.menu .starter__validation .icon-check svg,
.menu .main-course__validation .icon-check svg,
.menu .dessert__validation .icon-check svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  color: #99e2d0;
  font-size: 1.5rem;
  padding: 0.3rem;
  transform: translate(0%, -50%) rotate(0deg);
  transition: all 500ms ease-in-out 50ms;
}
.menu .starter:hover .starter__validation,
.menu .starter:hover .main-course__validation,
.menu .starter:hover .dessert__validation,
.menu .main-course:hover .starter__validation,
.menu .main-course:hover .main-course__validation,
.menu .main-course:hover .dessert__validation,
.menu .dessert:hover .starter__validation,
.menu .dessert:hover .main-course__validation,
.menu .dessert:hover .dessert__validation {
  transition: all 500ms ease-in-out 0ms;
  transform: translateX(-100%);
}
.menu .starter:hover .starter__validation .icon-check,
.menu .starter:hover .main-course__validation .icon-check,
.menu .starter:hover .dessert__validation .icon-check,
.menu .main-course:hover .starter__validation .icon-check,
.menu .main-course:hover .main-course__validation .icon-check,
.menu .main-course:hover .dessert__validation .icon-check,
.menu .dessert:hover .starter__validation .icon-check,
.menu .dessert:hover .main-course__validation .icon-check,
.menu .dessert:hover .dessert__validation .icon-check {
  transition: all 500ms ease-in-out 100ms;
  transform: translate(-50%, -50%);
}
.menu .starter:hover .starter__validation .icon-check svg,
.menu .starter:hover .main-course__validation .icon-check svg,
.menu .starter:hover .dessert__validation .icon-check svg,
.menu .main-course:hover .starter__validation .icon-check svg,
.menu .main-course:hover .main-course__validation .icon-check svg,
.menu .main-course:hover .dessert__validation .icon-check svg,
.menu .dessert:hover .starter__validation .icon-check svg,
.menu .dessert:hover .main-course__validation .icon-check svg,
.menu .dessert:hover .dessert__validation .icon-check svg {
  transition: all 500ms ease-in-out 50ms;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(360deg);
}
.menu .starter:hover .starter__price,
.menu .starter:hover .main-course__price,
.menu .starter:hover .dessert__price,
.menu .main-course:hover .starter__price,
.menu .main-course:hover .main-course__price,
.menu .main-course:hover .dessert__price,
.menu .dessert:hover .starter__price,
.menu .dessert:hover .main-course__price,
.menu .dessert:hover .dessert__price {
  transition: all 500ms ease-in-out 0.1ms;
  transform: translateX(-150%);
}
.menu .starter:hover .starter__details,
.menu .starter:hover .main-course__details,
.menu .starter:hover .dessert__details,
.menu .main-course:hover .starter__details,
.menu .main-course:hover .main-course__details,
.menu .main-course:hover .dessert__details,
.menu .dessert:hover .starter__details,
.menu .dessert:hover .main-course__details,
.menu .dessert:hover .dessert__details {
  margin-right: 25%;
}
.menu__order {
  text-align: center;
}
.menu__order button {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 3.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 1.563rem;
  cursor: pointer;
  background: #ff79da;
  background-image: linear-gradient(173deg, #ff79da 0%, #9356dc 66%);
  margin: 0 auto 3rem;
}
.menu__order button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff79da;
  background-image: linear-gradient(173deg, #9356dc 0%, #ff79da 66%);
  z-index: -1;
  transition: opacity 300ms ease-in 0ms;
  opacity: 0;
  border-radius: 1.563rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
}
.menu__order button:hover::before, .menu__order button:focus::before, .menu__order button:active::before {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
