/**
 *
 * VARIABLES
 *
 * ========================================================================= */
/**
 *
 * MIXINS
 *
 * ========================================================================= */
/*------ Breakpoints -----*/
/*----- @include breakpoint(value){} ------*/
/*----- .result {@include center(both);} -----*/
/**
 *
 * BASE STYLE
 *
 * ========================================================================= */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 *
 * TYPOGRAPHY
 *
 * ========================================================================= */
/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v27-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-300.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v27-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-300italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-300italic.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-300italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v27-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-italic.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v27-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-500italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-500italic.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-500italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v27-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-700italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-700italic.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-700italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/**
 *
 * BUTTON STYLE
 *
 * ========================================================================= */
/**
 *
 * PRELOADER STYLE
 *
 * ========================================================================= */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    clip-path: ellipse(6.25rem 6.25rem at -5% 50%);
  }
  50% {
    clip-path: ellipse(6.25rem 6.25rem at 50% 50%);
  }
  100% {
    clip-path: ellipse(6.25rem 6.25rem at 105% 50%);
  }
}
.preloader {
  animation: fade Out 1s ease;
  animation-delay: 5s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: radial-gradient(circle, #eaeaea 0%, white 50%, #eaeaea 100%);
}
.preloader__text {
  font-size: 10rem;
  height: 100%;
  width: 100%;
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: preloader 5s ease-in-out;
  position: relative;
  color: #000;
}
.preloader__text::before {
  content: attr(data-text);
  position: absolute;
  background-image: linear-gradient(173deg, #9356dc 0%, #ff79da 66%);
  color: transparent;
  background-size: 100% 90%;
  clip-path: ellipse(6.25rem 6.25rem at -2.54% -9.25%);
  animation: preloader 5s ease;
}

/**
 *
 * HEADER STYLE
 *
 * ========================================================================= */
.header {
  background-color: #fff;
  position: relative;
  z-index: 9;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  padding-left: 10%;
  padding-right: 10%;
}
.header h1 {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
}
.header h1 a {
  text-decoration: none;
  color: #000;
}

/**
 *
 * FOOTER STYLE
 *
 * ========================================================================= */
.footer {
  background-color: #353535;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.footer__brand {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 3.125rem;
}
@media (min-width: 48rem) {
  .footer__brand {
    font-size: 2.5rem;
    list-style: 5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__list {
    text-align: center;
  }
}
.footer__list .footer__item:nth-child(3) .footer__link, .footer__list .footer__item:nth-child(4) .footer__link {
  padding-left: 0;
}
.footer__list .footer__item .footer__link {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-decoration: none;
  padding-left: 1.875rem;
  position: relative;
  font-weight: 300;
}
.footer__list .footer__item .footer__link svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/**
 *
 * CONTAINER STYLE
 *
 * ========================================================================= */
@media (min-width: 36rem) {
  .container {
    max-width: 33.75rem;
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
}
@media (min-width: 62rem) {
  .container {
    max-width: 60rem;
  }
}
@media (min-width: 75rem) {
  .container {
    max-width: 71.25rem;
  }
}
@media (min-width: 87.5rem) {
  .container {
    max-width: 82.5rem;
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container-fullwidth {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/**
 *
 * RESTAURANTS SECTION STYLE
 *
 * ========================================================================= */
.restaurants__layout {
  padding-top: 5%;
  padding-bottom: 5%;
}
.restaurants__layout > h3 {
  width: 100%;
  font-weight: 700;
  line-height: 3.75rem;
  font-size: 1.125rem;
}
@media (min-width: 48rem) {
  .restaurants__layout {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
.restaurants__layout .restaurant {
  width: 100%;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
}
.restaurants__layout .restaurant__link {
  text-decoration: none;
}
.restaurants__layout .restaurant__link:hover .restaurant__img::after {
  opacity: 0.2;
}
.restaurants__layout .restaurant__link:hover .restaurant__img img {
  transform: scale(1);
}
.restaurants__layout .restaurant__link:hover .restaurant__name {
  color: #9356dc;
}
.restaurants__layout .restaurant__img {
  position: relative;
  z-index: 1;
  max-height: 10rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.3s;
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant__img {
    height: 100%;
  }
}
.restaurants__layout .restaurant__img::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(120deg, #ff79da, #9356dc);
  opacity: 0;
  transition: all 0.3s;
}
.restaurants__layout .restaurant__img img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.3s;
}
.restaurants__layout .restaurant__img .restaurant__new {
  background-color: #99e2d0;
  color: #278870;
  line-height: 1.875rem;
  font-weight: 500;
  padding: 0 1rem;
  display: inline-block;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  z-index: 9;
  border-radius: 0.188rem;
}
.restaurants__layout .restaurant__infogroup {
  background-color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.restaurants__layout .restaurant__infogroup .restaurant__info {
  flex-grow: 1;
}
.restaurants__layout .restaurant__infogroup .restaurant__info .restaurant__name {
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 0.3s;
}
.restaurants__layout .restaurant__infogroup .restaurant__info .restaurant__location {
  font-weight: 300;
  font-size: 0.875rem;
}
.restaurants__layout .restaurant__infogroup .restaurant__like svg {
  width: 1.375rem;
  height: 1.375rem;
}
@media (min-width: 48rem) {
  .restaurants__layout .restaurant {
    width: calc(1 / 2 * 100% - 1rem);
    margin: 0;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant {
    width: 100%;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:first-child {
    grid-area: 1/1/2/3;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(2) {
    grid-area: 2/1/5/2;
  }
  .restaurants__layout .restaurant:nth-child(2) .restaurant__img {
    max-height: 17.813rem;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(3) {
    grid-area: 5/1/7/2;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(4) {
    grid-area: 2/2/4/3;
  }
}
@media (min-width: 62rem) {
  .restaurants__layout .restaurant:nth-child(5) {
    grid-area: 4/2/7/3;
  }
  .restaurants__layout .restaurant:nth-child(5) .restaurant__img {
    max-height: 17.813rem;
  }
}

/**
 *
 * HOMEPAGE STYLE
 *
 * ========================================================================= */
.booking {
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  padding-bottom: 5%;
  text-align: center;
}
.booking__form {
  text-align: center;
  background-color: #eaeaea;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 3.125rem;
  width: 100%;
  text-align: center;
  position: relative;
}
.booking__form button {
  display: none;
}
.booking__form > span {
  position: absolute;
  top: 50%;
  right: 80%;
  transform: translate(-80%, -50%);
}
@media (min-width: 36rem) {
  .booking__form > span {
    right: 70%;
    transform: translate(-70%, -50%);
  }
}
@media (min-width: 62rem) {
  .booking__form > span {
    right: 63%;
    transform: translate(-63%, -50%);
  }
}
.booking__form input {
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: center;
}
@media (min-width: 36rem) {
  .booking__form input {
    width: 50%;
  }
}
@media (min-width: 62rem) {
  .booking__form input {
    width: 33%;
  }
}
.booking__cta {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.booking__cta > button {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 3.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 1.563rem;
  cursor: pointer;
  background: #ff79da;
  background-image: linear-gradient(173deg, #ff79da 0%, #9356dc 66%);
  color: #fff;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.booking__cta > button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: #ff79da;
  background-image: linear-gradient(173deg, #9356dc 0%, #ff79da 66%);
  z-index: -1;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  border-radius: 1.563rem;
}
.booking__cta > button:hover::before, .booking__cta > button:focus::before, .booking__cta > button:active::before {
  opacity: 1;
}
.booking__cta > h2 {
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.125rem;
  margin: 1rem auto;
}
.booking__cta > h3 {
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.process {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.process h3 {
  font-weight: 700;
  line-height: 3.75rem;
  font-size: 1.125rem;
}
.process__list .process__item {
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 4.375rem;
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  counter-increment: section;
  margin-bottom: 1.563rem;
  transition: background-color 0.3s ease-in;
}
.process__list .process__item:hover {
  background-color: #f2eafb;
}
.process__list .process__item:hover .process__icon {
  transition: background-color 0.3s ease-in;
}
.process__list .process__item:hover .process__icon svg {
  color: #9356dc;
}
.process__list .process__item::before {
  content: counter(section);
  position: absolute;
  left: -0.813rem;
  border-radius: 50%;
  height: 1.563rem;
  width: 1.563rem;
  background-color: #9356dc;
  text-align: center;
  line-height: 1.563rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.process__list .process__item .process__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1.5rem;
}
.process__list .process__item .process__icon svg {
  color: #7e7e7e;
  width: 2rem;
}

.restaurants {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f6f6f6;
}

/**
 *
 * MENU PAGE
 *
 * ========================================================================= */

/*# sourceMappingURL=style.css.map */
