/**
 *
 * PRELOADER STYLE
 *
 * ========================================================================= */
.preloader {

  display: none;
  //desactivation pour prod

  animation: fadeOut 1s ease 150ms forwards;
  animation-delay: 6s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: radial-gradient(circle, rgba(234, 234, 234, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(234, 234, 234, 1) 100%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-image: url("../../../public/img/ohmyfood-bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.02;
    background-size: 65%;
  }

  &__text {
    font-size: 2rem;
    @include center(both);
    width: fit-content;
    @include txt-shrikhand;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    overflow: hidden;
    @include gradientText(linear-gradient(to right, $secondary, $primary));

    @include breakpoint(phablet) {
      font-size: 3rem;
    }
    @include breakpoint(tablet) {
      font-size: 4rem;
    }
    @include breakpoint(laptop) {
      font-size: 6rem;
    }
    @include breakpoint(l_desktop) {
      font-size: 8rem;
    }
    @include breakpoint(xl_desktop) {
      font-size: 10rem;
    }
  }
}
