/**
 *
 * MENU PAGE
 *
 * ========================================================================= */
.page-menu-alafrancaise {
  .hero {
    @include heroImg("../../../public/img/restaurants/small/a-la-francaise.jpg", top);

    @include breakpoint(phablet) {
      @include heroImg("../../../public/img/restaurants/medium/a-la-francaise-md.jpg", center);
    }
    @include breakpoint(tablet) {
      @include heroImg("../../../public/img/restaurants/large/a-la-francaise-lg.jpg", center);
    }
    @include breakpoint(l_desktop) {
      @include heroImg("../../../public/img/restaurants/xlarge/a-la-francaise-xl.jpg", center);
    }
  }
}
.page-menu-lapalettedugout {
  .hero {
    @include heroImg("../../../public/img/restaurants/small/la-palette-du-gout.jpg", top);

    @include breakpoint(phablet) {
      @include heroImg("../../../public/img/restaurants/medium/la-palette-du-gout-md.jpg", center);
    }
    @include breakpoint(tablet) {
      @include heroImg("../../../public/img/restaurants/large/la-palette-du-gout-lg.jpg", center);
    }
    @include breakpoint(l_desktop) {
      @include heroImg("../../../public/img/restaurants/xlarge/la-palette-du-gout-xl.jpg", center);
    }
  }
}
.page-menu-lanoteenchantee {
  .hero {
    @include heroImg("../../../public/img/restaurants/small/la-note-enchantee.jpg", top);

    @include breakpoint(phablet) {
      @include heroImg("../../../public/img/restaurants/medium/la-note-enchantee-md.jpg", center);
    }
    @include breakpoint(tablet) {
      @include heroImg("../../../public/img/restaurants/large/la-note-enchantee-lg.jpg", center);
    }
    @include breakpoint(l_desktop) {
      @include heroImg("../../../public/img/restaurants/xlarge/la-note-enchantee-xl.jpg", center);
    }
  }
}
.page-menu-ledelicedessens {
  .hero {
    @include heroImg("../../../public/img/restaurants/small/le-delice-des-sens.jpg", top);

    @include breakpoint(phablet) {
      @include heroImg("../../../public/img/restaurants/medium/le-delice-des-sens-md.jpg", bottom);
    }
    @include breakpoint(tablet) {
      @include heroImg("../../../public/img/restaurants/large/le-delice-des-sens-lg.jpg", bottom);
    }
    @include breakpoint(l_desktop) {
      @include heroImg("../../../public/img/restaurants/xlarge/le-delice-des-sens-xl.jpg", bottom);
    }
  }
}
.hero {
  height: 18.75rem;
  object-fit: cover;
  @include flexbox;
  @include align-items(flex-end);
  margin-bottom: -1px;
  background-size: 100% !important;

  @include breakpoint(mobileonly) {
    background-size: 105% !important;
  }

  &__page-title {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include align-items(center);
    width: 100%;
    background-color: $bg-color-lighter;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 10%;

    @include breakpoint(tablet) {
      width: 50%;
      padding-right: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0 auto;
      @include box-shadow-reverse;
    }

    .hero__title {
      @include flex-grow(1);
      @include txt-shrikhand;
      line-height: 3rem;
    }
    .hero__like {
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 9;

      svg {
        path {
          @include iconHeart;
        }
      }
    }
  }
}
.menu {
  background-color: $bg-color-lighter;
  @include padding-h-5;
  padding-bottom: 5%;
  padding-top: 2rem;
  position: relative;

  h2 {
    position: relative;
    line-height: 1.5rem;
    padding-bottom: 1.625rem;

    &::before {
      position: absolute;
      left: 0;
      top: 2rem;
      height: 0;
      width: 3.125rem;
      content: "";
      border-top: 3px solid $tertiary;
    }
  }
  &::before {
    @include breakpoint(laptop) {
      content: "";
      background: url("../../../public/img/ohmyfood-bg.svg") no-repeat bottom right;
      position: absolute;
      bottom: 5%;
      right: 0;
      left: 0;
      top: 0;
      opacity: 0.05;
      background-size: 50%;
    }
  }
  @include breakpoint(laptop) {
    @include flexbox;
    @include flex-flow(row wrap);
    gap: 2rem;
  }
  &__starters,
  &__main-courses,
  &__desserts,
  &__order {
    @include breakpoint(laptop) {
      width: calc(1 / 2 * 100% - 1rem);
    }
  }
  &__order {
    width: 100%;
  }
  .starter,
  .main-course,
  .dessert {
    border-radius: 1.25rem;
    background-color: $white;
    padding: 1rem;
    margin-bottom: 1rem;
    @include box-shadow;
    @include flexbox;
    @include flex-flow(row nowrap);
    position: relative;
    @include delayedEntrance;
    overflow: hidden;
    cursor: pointer;
    @include customTransition(all, 1s, ease-in-out, 0ms);

    &:nth-child(2) {
      animation-delay: 200ms;
    }
    &:nth-child(3) {
      animation-delay: 400ms;
    }
    &:nth-child(4) {
      animation-delay: 600ms;
    }
    &:nth-child(5) {
      animation-delay: 800ms;
    }
    &:last-child {
      margin-bottom: 3rem;
    }
    &__details {
      @include flex-grow(1);
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
      margin-right: 0;
      @include customTransition(all, 0.5s, ease-in-out, 0ms);
    }
    &__ingredients {
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__name {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__price {
      @include flexbox;
      @include justify-content(flex-end);
      position: relative;
      transform: translateX(0%);
      width: 20%;
      @include customTransition(all, 0.5s, ease-in-out, 0ms);

      span {
        @include align-self(flex-end);
        padding-left: 1rem;
      }
    }
    &__validation {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateX(0%);
      margin-top: 0;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      height: 100%;
      width: 20%;
      background-color: $tertiary;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      @include customTransition(all, 500ms, ease-in-out, 0ms);

      .icon-check {
        background-color: $white;
        @include center(both);
        width: 2rem;
        height: 2rem;
        @include border-radius-all;
        transform: translate(0%, -50%);
        @include customTransition(all, 500ms, ease-in-out, 100ms);

        svg {
          @include center(both);
          border-radius: 1rem;
          color: $tertiary;
          font-size: 1.5rem;
          padding: 0.3rem;
        }
      }
    }
    &:hover {
      .starter__validation,
      .main-course__validation,
      .dessert__validation {
        @include customTransition(all, 500ms, ease-in-out, 0ms);
        transform: translateX(-100%);

        .icon-check {
          @include customTransition(all, 500ms, ease-in-out, 100ms);
          transform: translate(-50%, -50%);
          svg {
            @include customTransition(all, 500ms, ease-in-out, 50ms);
            transform-origin: center center;
            transform: translate(-50%, -50%) rotate(360deg);
          }
        }
      }
      .starter__price,
      .main-course__price,
      .dessert__price {
        @include customTransition(all, 500ms, ease-in-out, 0ms);
        transform: translateX(-150%);
      }
      .starter__details,
      .main-course__details,
      .dessert__details {
        margin-right: 25%;
      }
    }
  }
  &__order {
    text-align: center;
    button {
      @include gradient-btn;
      margin: 0 auto 3rem;
    }
  }
}
