/**
 *
 * KEYFRAMES
 *
 * ========================================================================= */
@keyframes coursesAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes preloader {
  0% {
    background-position: 100% 50%;
  }
  17% {
    background-position: 82% 50%;
  }
  24% {
    background-position: 60% 50%;
    animation-timing-function: cubic-bezier(.9,0,.1,1);
  }
  46% {
    background-position: 20% 50%;
    animation-timing-function: cubic-bezier(.25,0.25,1);
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes iconHeart{
    0%{
        fill: transparent;
        stroke-width: 10%;
    }
    50%{
        fill: $primary;
        stroke: 0%;
    }
    100%{
        fill: $secondary;
        stroke: 0%;
    }
}
