/**
 *
 * MIXINS
 *
 * ========================================================================= */
@mixin padding-h-10 {
  padding-left: 10%;
  padding-right: 10%;
}
@mixin padding-v-10 {
    padding-top: 10%;
    padding-bottom: 10%;
}
@mixin padding-v-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}
@mixin padding-vh-10 {
    padding: 10%;
  }
@mixin margin-v-5 {
  margin-top: 5%;
  margin-bottom: 5%;
}

@mixin txt-shrikhand {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 11px -6px rgba(0, 0, 0, 0.5);
}

/*------ Breakpoints -----*/
@mixin breakpoint($breakpoint) {
  @if $breakpoint == xl_desktop {
    // > 1400 px
    @media (min-width: 87.5rem) {
      @content;
    }
  } @else if $breakpoint == l_desktop {
    // > 1200 px
    @media (min-width: 75rem) {
      @content;
    }
  } @else if $breakpoint == laptop {
    // > 992 px
    @media (min-width: 62rem) {
      @content;
    }
  } @else if $breakpoint == tablet {
    // > 768 px
    @media (min-width: 48rem) {
      @content;
    }
  } @else if $breakpoint == phablet {
    // > 576 px
    @media (min-width: 36rem) {
      @content;
    }
  } @else if $breakpoint == mobileonly {
    // < 576 px
    @media (max-width: 36rem) {
      @content;
    }
  }
}
/*----- @include breakpoint(value){} ------*/

/*----- flex -----*/
@mixin flexbox {
  display: -webkit-box; // old
  display: -moz-box; // old
  display: -ms-flexbox; // ie
  display: -webkit-flex; // new
  display: flex; // new
}
/*----- div{@include flexbox();} ------*/
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  -webkit-flex: $values;
  flex: $values;
}
/*----- div{@include flex(1, 2);} -----*/
@mixin flex-order($order) {
  -webkit-box-ordinal-group: $order; // old
  -moz-box-ordinal-group: $order; // old
  -ms-flex-order: $order; // ie
  -webkit-order: $order; // new
  order: $order; // new
}
/*----- div{@include flex-order(3);} -----*/
@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/*-----   div{@include flex-direction(column);} -----*/

@mixin gradient($start-color, $end-color, $orientation) {
  background-image: -moz-linear-gradient($orientation, $start-color 0%, $end-color 66%);
  background-image: -webkit-linear-gradient($orientation, $start-color 0%, $end-color 66%);
  background-image: linear-gradient($orientation, $start-color 0%, $end-color 66%);
}

@mixin center($position) {
  position: absolute;

  @if $position == "vertical" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/*----- .result {@include center(both);} -----*/
